In [1]:
import pandas as pd
import glob
#pd.set_option('display.max_rows', 100)
%autosave 0

Autosave disabled

In [2]:
path ='Sales Data\*.csv'
#path ='Sales Data\*.xlsx'
#path ='Sales Data\*.txt'

In [3]:
Csvfiles = glob.glob(path)

In [4]:
type(Csvfiles)

list

In [5]:
Csvfiles

['Sales Data\\East Data.csv',
 'Sales Data\\Mid-West Data.csv',
 'Sales Data\\North Data.csv',
 'Sales Data\\South Data.csv',
 'Sales Data\\West Data.csv']

#### use pd.read_excel to read excelfiles ,pd.read_csv to read  .csv files  ,pd.read_table to read .txt files

In [6]:
df0 = pd.read_csv(Csvfiles[0])
df0.head()

         Date          Item Sales Rep  Quantity  Price Commission
0  01-07-2018       Printer     Laura        10     80         8%
1  01-07-2018   White Board    Stacey        18     40         6%
2  01-07-2018  Office Chair      Mark         7    230         8%
3  01-07-2018   White Board    Stacey        15     40         3%
4  01-07-2018         Diary     Laura         6     16         1%

In [7]:
type(df0)

pandas.core.frame.DataFrame

In [8]:
print('number of csv files in folder is :',len(Csvfiles))

number of csv files in folder is : 5

In [9]:
df0

           Date          Item Sales Rep  Quantity  Price Commission
0    01-07-2018       Printer     Laura        10     80         8%
1    01-07-2018   White Board    Stacey        18     40         6%
2    01-07-2018  Office Chair      Mark         7    230         8%
3    01-07-2018   White Board    Stacey        15     40         3%
4    01-07-2018         Diary     Laura         6     16         1%
..          ...           ...       ...       ...    ...        ...
436  31-07-2018       Printer      Mark         9     80         3%
437  31-07-2018       Printer      John         8     80         8%
438  31-07-2018  Office Chair    Stacey         8    230         1%
439  31-07-2018         Diary       Bob        12     16         4%
440  31-07-2018         Diary    Stacey        18     16         4%

[441 rows x 6 columns]

#### appending files

In [10]:
#create an empty dataframe
dfempty = pd.DataFrame()

In [14]:
for file in Csvfiles:
    df = pd.read_csv(file)
    dfglobal = pd.concat([dfempty,df])
    dfempty = dfglobal

In [15]:
dfglobal

           Date          Item Sales Rep  Quantity  Price Commission
0    01-07-2018       Printer     Laura        10     80         8%
1    01-07-2018   White Board    Stacey        18     40         6%
2    01-07-2018  Office Chair      Mark         7    230         8%
3    01-07-2018   White Board    Stacey        15     40         3%
4    01-07-2018         Diary     Laura         6     16         1%
..          ...           ...       ...       ...    ...        ...
319  30-07-2018     Projector      Mark        13    150         2%
320  30-07-2018       Printer      John        12     80         4%
321  30-07-2018  Office Chair       Bob        20    230         9%
322  30-07-2018   White Board       Bob         5     40         3%
323  30-07-2018         Diary       Bob         2     16         4%

[1844 rows x 6 columns]

In [16]:
dfglobal.to_excel('CombinedSalesData.xlsx')

In [28]:
print('number of rows in dfglobal is : ',len(dfglobal))

number of rows in dfglobal is:  1844